@model electronics_shop.Models.Account

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section styles{
    <style>
        /*======= VALIDATOR =========*/
        .gap-4 {
            gap: 1.7rem;
        }

        .form-group.invalid .form-control {
            border-color: #f33a58;
        }

        .form-group.invalid .form-message {
            color: #f33a58;
        }

        .form-message {
            word-break: break-all;
            font-size: 0.7rem;
            line-height: 1.5rem;
            padding: 4px 0 0;
            display: block;
            word-break: normal;
            position: absolute;
            top: 37px;
            left: 7px
        }

        /*==========================*/
    </style>
}


<div class="sign-up-section container mx-auto my-5 px-2 sm:px-8">
    <div class="mx-auto max-w-[500px] rounded-lg bg-white p-5">
        <div class="mb-5 block text-xl font-bold" style="color: #011638;">
            Change Password
        </div>
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @id = "form-1", @enctype = "multipart/form-data" }))
        {

            <div class="flex flex-col gap-4 form-1">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.AccountCode)
                @Html.HiddenFor(model => model.CreateAt)
                @Html.HiddenFor(model => model.FirstName)
                @Html.HiddenFor(model => model.LastName)
                @Html.HiddenFor(model => model.Email)
                @Html.HiddenFor(model => model.PhoneNumber)
                @Html.HiddenFor(model => model.Avatar)

                <div class="mb-4 form-group">
                    @Html.EditorFor(model => model.AccountCode, new { htmlAttributes = new { @class = "form-control", @id = "account-code", @type = "hidden" } })
                </div>

                <div class="relative flex h-[40px] items-center form-group">
                    <i class="bi bi-person absolute ml-2 flex text-[24px] text-gray-400"></i>
                    <input class="input pl-10 form-control" id="current-password" name="CurrentPassword" type="password" placeholder="Current password" required />
                    <span class="form-message"></span>
                </div>

                <div class="relative flex h-[40px] items-center form-group">
                    <i class="bi bi-lock absolute ml-2 flex text-[24px] text-gray-400"></i>
                    <input class="input pl-10 form-control" id="new-password" name="NewPassword" type="password" placeholder="New password" required />
                    <span class="form-message"></span>
                </div>

                <div class="relative flex h-[40px] items-center form-group">
                    <i class="bi bi-lock-fill absolute ml-2 flex text-[24px] text-gray-400"></i>
                    <input class="input pl-10 form-control" id="password-confirmation" name="confirm" type="password"
                           placeholder="Confirm password" required />
                    <span class="form-message"></span>
                </div>

                <button class="btn-effect transition-all-300 h-full w-full rounded-lg bg-primary-color p-2" type="submit">
                    <span class="font-bold uppercase text-white">Submit</span>
                </button>
            </div>
        }


    </div>
</div>

@*<div class="loader fixed z-[999] flex h-screen w-screen items-center justify-center bg-body">
    <div class="loader-content flex flex-col items-center gap-2">
        <span class="text-3xl font-semibold text-gray-200">Besnik.</span>
        <div class="flex h-1 w-40 gap-1 overflow-hidden bg-gray-200">
            <div class="animation-loader h-full w-20 bg-primary-color"></div>
        </div>
    </div>
</div>*@

@section scriptsJS {
    <script src="~/Content/libraries/nice-select2/nice-select2.js"></script>
    <script src="~/Content/libraries/mixitup/mixitup.min.js"></script>
    <script src="~/Content/js/validator.js"></script>
    <script>
        Validator({
            form: '#form-1',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#current-password'),
                Validator.validatePass('#new-password'),
                Validator.isConfirmed('#password-confirmation', function () {
                    return document.querySelector('#form-1 #new-password').value;
                }, 'Passwords do not match. Please re-enter your password.')
            ],
        });
    </script>
}


